In [34]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dropout, Dense, BatchNormalization
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.constraints import max_norm
from tensorflow.keras.callbacks import EarlyStopping

In [35]:
def calculate_moving_averages(df, window_sizes):
    for window_size in window_sizes:
        column_name = f'MA_{window_size}'
        df[column_name] = df['close'].rolling(window=window_size).mean()
    return df

In [36]:
df = pd.read_csv('bnb_historical_data.csv')

In [37]:
window_sizes = [7, 25, 99, 150]
df = calculate_moving_averages(df, window_sizes)

In [38]:
features = df[['MA_7', 'MA_25', 'MA_99', 'MA_150' 'close']].dropna()
target = features['close'].values.reshape(-1, 1)
features = features.values

# Normalize features using Min-Max scaling
scaler = MinMaxScaler(feature_range=(0, 1))
features_scaled = scaler.fit_transform(features)

In [39]:
features_scaled

array([[2.87707317e-01, 2.87457497e-01, 2.88031848e-01, ...,
        2.94117647e-01, 2.91242363e-01, 1.37694443e-03],
       [2.87512195e-01, 2.87375233e-01, 2.87983214e-01, ...,
        2.94117647e-01, 2.91242363e-01, 8.64287955e-04],
       [2.87609756e-01, 2.87320390e-01, 2.87941528e-01, ...,
        2.94117647e-01, 2.91921249e-01, 5.89021604e-04],
       ...,
       [7.29463415e-01, 7.30640562e-01, 7.22424478e-01, ...,
        7.32251521e-01, 7.31839783e-01, 4.01286874e-03],
       [7.29365854e-01, 7.30613140e-01, 7.22598171e-01, ...,
        7.32927654e-01, 7.31839783e-01, 9.71408071e-03],
       [7.29951220e-01, 7.30503455e-01, 7.22778812e-01, ...,
        7.32927654e-01, 7.32518669e-01, 8.31035114e-03]])

In [40]:
def create_sequences(data, target, sequence_length):
    sequences = []
    labels = []
    for i in range(len(data) - sequence_length):
        seq = data[i:i + sequence_length]
        label = target[i + sequence_length]
        sequences.append(seq)
        labels.append(label)
    return np.array(sequences), np.array(labels)

In [41]:
sequence_length = 20  # Adjust as needed
X, y = create_sequences(features_scaled, target, sequence_length)

In [42]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [43]:
model = Sequential()
model.add(LSTM(units=100, activation='relu', input_shape=(X.shape[1], X.shape[2]), return_sequences=True))
model.add(Dropout(0.3))
model.add(BatchNormalization())

# Second LSTM layer
model.add(LSTM(units=150, activation='relu', return_sequences=True))
model.add(Dropout(0.3))
model.add(BatchNormalization())

# Third LSTM layer
model.add(LSTM(units=200, activation='relu'))
model.add(Dropout(0.3))
model.add(BatchNormalization())

# Dense layer
model.add(Dense(units=1, activation='linear'))

model.compile(optimizer=Adam(learning_rate=0.001), loss='mean_squared_error')

In [44]:
model.fit(X, y, epochs=50, batch_size=32, validation_split=0.1)

Epoch 1/50
14791/14791 [==============================] - 289s 19ms/step - loss: 2244.8115 - val_loss: 30.8820
Epoch 2/50
14791/14791 [==============================] - 285s 19ms/step - loss: 81.4841 - val_loss: 74.8436
Epoch 3/50
14791/14791 [==============================] - 286s 19ms/step - loss: 81.8681 - val_loss: 55.0658
Epoch 4/50
14791/14791 [==============================] - 289s 20ms/step - loss: 80.5298 - val_loss: 94.8917
Epoch 5/50
14791/14791 [==============================] - 285s 19ms/step - loss: 80.7465 - val_loss: 49.2079
Epoch 6/50
14791/14791 [==============================] - 287s 19ms/step - loss: 79.0585 - val_loss: 116.2097
Epoch 7/50
14791/14791 [==============================] - 282s 19ms/step - loss: 77.8334 - val_loss: 104.1663
Epoch 8/50
14791/14791 [==============================] - 282s 19ms/step - loss: 94.2766 - val_loss: 70.2395
Epoch 9/50
14791/14791 [==============================] - 284s 19ms/step - loss: 77.4612 - val_loss: 189.3088
Epoch 10/50
14791/14791 [==============================] - 278s 19ms/step - loss: 76.5854 - val_loss: 106.5576
Epoch 11/50
14791/14791 [==============================] - 278s 19ms/step - loss: 75.9314 - val_loss: 159.6811
Epoch 12/50
14791/14791 [==============================] - 283s 19ms/step - loss: 75.4477 - val_loss: 232.5348
Epoch 13/50
14791/14791 [==============================] - 283s 19ms/step - loss: 77.2783 - val_loss: 992.3027
Epoch 14/50
14791/14791 [==============================] - 282s 19ms/step - loss: 76.9284 - val_loss: 181.1518
Epoch 15/50
14791/14791 [==============================] - 283s 19ms/step - loss: 467.6397 - val_loss: 182.2685
Epoch 16/50
14791/14791 [==============================] - 282s 19ms/step - loss: 1153.9277 - val_loss: 673.8880
Epoch 17/50
14791/14791 [==============================] - 282s 19ms/step - loss: 1692.7789 - val_loss: 954.5989
Epoch 18/50
14791/14791 [==============================] - 279s 19ms/step - loss: 1655.1128 - val_loss: 787.5260
Epoch 19/50
14791/14791 [==============================] - 282s 19ms/step - loss: 1236.2104 - val_loss: 309.5501
Epoch 20/50
14791/14791 [==============================] - 282s 19ms/step - loss: 1334.7754 - val_loss: 962.6387
Epoch 21/50
14791/14791 [==============================] - 282s 19ms/step - loss: 1633.9626 - val_loss: 832.3674
Epoch 22/50
14791/14791 [==============================] - 290s 20ms/step - loss: 1695.1603 - val_loss: 3229.3333
Epoch 23/50
14791/14791 [==============================] - 293s 20ms/step - loss: 1704.6881 - val_loss: 1292.8842
Epoch 24/50
14791/14791 [==============================] - 292s 20ms/step - loss: 1669.1388 - val_loss: 11238.0391
Epoch 25/50
14791/14791 [==============================] - 291s 20ms/step - loss: 1673.5529 - val_loss: 27993110.0000
Epoch 26/50
14791/14791 [==============================] - 287s 19ms/step - loss: 1585.5186 - val_loss: 11989.6396
Epoch 27/50
14791/14791 [==============================] - 289s 20ms/step - loss: 1539.4315 - val_loss: 1268.8562
Epoch 28/50
14791/14791 [==============================] - 289s 20ms/step - loss: 1559.9468 - val_loss: 1372.8746
Epoch 29/50
14791/14791 [==============================] - 293s 20ms/step - loss: 1534.1707 - val_loss: 116831.6562
Epoch 30/50
14791/14791 [==============================] - 300s 20ms/step - loss: 1341.6871 - val_loss: 1549322.6250
Epoch 31/50
14791/14791 [==============================] - 298s 20ms/step - loss: 1083.2207 - val_loss: 2760.3896
Epoch 32/50
14791/14791 [==============================] - 298s 20ms/step - loss: 940.6035 - val_loss: 417444757504.0000
Epoch 33/50
14791/14791 [==============================] - 298s 20ms/step - loss: 1047.5020 - val_loss: 650.9857
Epoch 34/50
14791/14791 [==============================] - 295s 20ms/step - loss: 1106.9689 - val_loss: 657.5765
Epoch 35/50
14791/14791 [==============================] - 298s 20ms/step - loss: 1020.0079 - val_loss: 68145.2656
Epoch 36/50
14791/14791 [==============================] - 299s 20ms/step - loss: 871.4849 - val_loss: 456.5326
Epoch 37/50
14791/14791 [==============================] - 298s 20ms/step - loss: 842.2881 - val_loss: 318.1053
Epoch 38/50
14791/14791 [==============================] - 293s 20ms/step - loss: 730.2460 - val_loss: 227.7943
Epoch 39/50
14791/14791 [==============================] - 294s 20ms/step - loss: 666.7888 - val_loss: 784.4388
Epoch 40/50
14791/14791 [==============================] - 300s 20ms/step - loss: 871.2637 - val_loss: 957.8958
Epoch 41/50
14791/14791 [==============================] - 299s 20ms/step - loss: 736.7269 - val_loss: 717.8067
Epoch 42/50
14791/14791 [==============================] - 297s 20ms/step - loss: 598.2988 - val_loss: 274.9255
Epoch 43/50
14791/14791 [==============================] - 305s 21ms/step - loss: 470.5396 - val_loss: 164.2210
Epoch 44/50
14791/14791 [==============================] - 298s 20ms/step - loss: 424.6405 - val_loss: 283.9725
Epoch 45/50
14791/14791 [==============================] - 298s 20ms/step - loss: 439.1732 - val_loss: 1111511168.0000
Epoch 46/50
14791/14791 [==============================] - 300s 20ms/step - loss: 354.2485 - val_loss: 33977110528.0000
Epoch 47/50
14791/14791 [==============================] - 300s 20ms/step - loss: 337.8793 - val_loss: 494.2929
Epoch 48/50
14791/14791 [==============================] - 299s 20ms/step - loss: 298.8289 - val_loss: 111.6296
Epoch 49/50
14791/14791 [==============================] - 300s 20ms/step - loss: 237.1822 - val_loss: 169.5714
Epoch 50/50
14791/14791 [==============================] - 301s 20ms/step - loss: 236.8460 - val_loss: 279.8768

In [45]:
model.save("trained_model.keras")

In [46]:
df_24 = pd.read_csv('bnb_historical_data_24.csv')

combined_data = pd.concat([df, df_24], axis=0, ignore_index=True)
combined_data = combined_data.drop_duplicates(subset='timestamp')

In [47]:
window_sizes = [7, 25, 99]
combined_data = calculate_moving_averages(combined_data, window_sizes)

In [48]:
features_24 = combined_data[['MA_7', 'MA_25', 'MA_99', 'open', 'high', 'low', 'close', 'volume']].dropna()
target_24 = features_24['close'].values.reshape(-1, 1)
ploting = combined_data.dropna()
features_24 = features_24.values

features_scaled_24 = scaler.fit_transform(features_24)

In [49]:
sequence_length = 20  # Adjust as needed
X_24, y_24 = create_sequences(features_scaled_24, target_24, sequence_length)

In [50]:
loss_24 = model.evaluate(X_24, y_24)
print(f'Mean Squared Error on Test Set: {loss_24}')

19013/19013 [==============================] - 141s 7ms/step - loss: 1569.9258
Mean Squared Error on Test Set: 1569.92578125

In [51]:
predictions = model.predict(X_24)
predictions_df = pd.DataFrame(predictions, columns=['predictions'], index=ploting.index[20:])
ploting['predictions'] = predictions_df['predictions']

19013/19013 [==============================] - 140s 7ms/step

/tmp/ipykernel_1357/957016094.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [52]:
ploting['timestamp'] = pd.to_datetime(ploting['timestamp']) 
desired_months = [1, 2, 3]  # January, February, and March
filtered_df = ploting[ploting['timestamp'].dt.month.isin(desired_months)]

/tmp/ipykernel_1357/1498949400.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [53]:
filtered_df.head(100)

,index_get,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore,MA_7,MA_25,MA_99,predictions
98,98,2023-01-01 01:38:00,245.5,245.6,245.5,245.6,87.649,1672537139999,21518.6660,58,8.365,2054.4440,0,245.628571,245.780,246.013131,NaN
99,99,2023-01-01 01:39:00,245.6,245.6,245.5,245.6,55.016,1672537199999,13509.9350,35,35.070,8613.1920,0,245.600000,245.768,246.006061,NaN
100,100,2023-01-01 01:40:00,245.6,245.7,245.5,245.7,37.494,1672537259999,9208.0832,51,29.940,7353.5337,0,245.614286,245.760,246.000000,NaN
101,101,2023-01-01 01:41:00,245.7,245.7,245.6,245.7,25.756,1672537319999,6327.2786,30,16.050,3943.4850,0,245.628571,245.756,245.994949,NaN
102,102,2023-01-01 01:42:00,245.7,245.7,245.6,245.6,10.568,1672537379999,2595.9883,29,4.875,1197.7875,0,245.628571,245.744,245.990909,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,193,2023-01-01 03:13:00,245.5,245.5,245.4,245.5,122.038,1672542839999,29958.0273,42,90.049,22107.0295,0,245.342857,245.312,245.575758,240.809723
194,194,2023-01-01 03:14:00,245.5,245.6,245.4,245.5,257.749,1672542899999,63276.1192,107,78.194,19196.9667,0,245.385714,245.320,245.574747,240.807114
195,195,2023-01-01 03:15:00,245.5,245.5,245.4,245.4,8.188,1672542959999,2009.7087,41,3.735,916.9425,0,245.414286,245.320,245.571717,240.806335
196,196,2023-01-01 03:16:00,245.4,245.5,245.4,245.5,30.490,1672543019999,7483.3672,23,11.212,2752.5460,0,245.428571,245.328,245.571717,240.828857
197,197,2023-01-01 03:17:00,245.4,245.5,245.2,245.3,229.948,1672543079999,56417.5385,103,34.196,8393.4887,0,245.428571,245.328,245.568687,240.808853

In [54]:
import plotly.graph_objects as go

candlestick_trace  = go.Candlestick(x=filtered_df['timestamp'],
                open=filtered_df['open'],
                high=filtered_df['high'],
                low=filtered_df['low'],
                close=filtered_df['close'])

symbol = 'BNBUSDT'

trace_ma_7 = go.Scatter(x=filtered_df['timestamp'], y=filtered_df['MA_7'], mode='lines', name='MA(7)', line=dict(color='green', dash='dash'))
trace_ma_25 = go.Scatter(x=filtered_df['timestamp'], y=filtered_df['MA_25'], mode='lines', name='MA(25)', line=dict(color='red', dash='dash'))
trace_ma_99 = go.Scatter(x=filtered_df['timestamp'], y=filtered_df['MA_99'], mode='lines', name='MA(99)', line=dict(color='purple', dash='dash'))

pred = go.Scatter(x=filtered_df['timestamp'], y=filtered_df['predictions'], mode='lines', name='predicted-price', line=dict(color='blue'))



fig = go.Figure(data=[candlestick_trace, trace_ma_7, trace_ma_25, trace_ma_99, pred])

fig.update_layout(title=f'Historical Price Data for {symbol}',
                  xaxis_title='Timestamp',
                  yaxis_title='Price (USDT)',
                  xaxis_rangeslider_visible=False)

# Show the interactive plot in a browser
fig.write_html('plot.html')